
<div class="container">
  <div class="row">
    <div class="col-md-6">
			<h1>エンジニアを目指す人は</h1>
			<h1>エンジニアになった人と繋がろう</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>IT勉強会イベントアプリ</h3>
					<h3>~Chronometer~</h3>
        </div>
      </div>
			<button type="button" class="btn btn-default btn-lg btn-block"><%= link_to "初めてご利用の方", new_user_registration_path %></button>
			<br>
			<button type="button" class="btn btn-default btn-lg btn-block"><%= link_to "登録済みのユーザはこちら", new_user_session_path %></button>

</div>
</div>
</div>
