// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (min-width: 768px) {
/* PC */
    input[type="text"] {
        width: 200px;
        height: 20px;
    }
}

@media screen and (max-width: 767px) {
/* SP */
    input[type="text"] {
        width: 100%;
        height: 2em;
    }
}


header {
   width: 100%;
   background-color: #dcd0c0;
   height: 50px;
   display: flex;
   justify-content: space-between;
 }
 .site-logo {
   font-size: 3rem;
   font-style: italic;
   font-weight: bold;
 }

 .gnav__menu{
    display: flex;
}
header ul {
  padding-bottom: 20px;
}


body,html {
  text-align: center;
  height: 100%;
}

.wapper{
  height: auto !important;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  background-image:url("/assets/top.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}
// .main{
//   padding-bottom: 100px;
// }


footer {
    background-color: #dcd0c0;
    padding: 20px 0 10px 0;
    color: white;
    font-size: 12px;
    height: 100px;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
}

h1#title{
  margin-top: 0;
  color: white;
}

.nav-window{
  background-color:#84BEF4;
}

.new-event{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container{
    margin-top:20px;
    padding-bottom: 100px;
}


ul{
  list-style: none;
}

.row_A p{
  color: #337ab7;
  font-size: 2rem;
  background-color: white;
}

.event_content {
  border: 2px solid gray;
  box-sizing: border-box;
  font-size: 2rem;
  background-color: white;
}
.event_content td {
  color: #337ab7;
  font-size: 2rem;
}
.submit_btn{
  padding: 5px;
}
.link_btn{
  padding: 5px;
}

.btn {
  margin-top: 20px;
  margin-right: 10px;

}
// textarea{
//   width: 100%;
//   height: 100%;
//   resize: vertical;
// }
// .contents-area{
//     padding: 0.5em 1em;
//     margin: 2em 0;
//     background: white;
//     border-top: solid 5px #5d627b;
//     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
//     text-align: center;
//     border-left: solid 5px;
//     border-right: solid 5px;
//     border-bottom: solid 5px;
//     width: 50%;
//     margin: 5rem auto;
// }
// .form-group{
//  width: 100%;
// }

// .pagenate{
//   position: absolute;
//   bottom: 0;
// }

// pagenate{
//   margin-top: 0;
// }
