// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-size{
  margin-left: 25%;
  margin-right: 25%;
}

.user_icon {
  padding: 10px;
}
